# import AOSP service related rc in meta mode and factory mode.
#
import /system/etc/init/debuggerd.rc
import /system/etc/init/debuggerd64.rc
import /system/etc/init/logd.rc
import /system/etc/init/logd_e.rc
import /system/etc/init/logcatd.rc
import /system/etc/init/vold.rc
import /system/etc/init/vdc.rc
